# This workflow will install Python dependencies, run tests and lint
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  cpython:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
    - uses: actions/checkout@v4
    - name: Set up ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install uv
      uses: astral-sh/setup-uv@v5

    - name: Install dependencies
      run: |
        uv pip install . -r requirements_dev.txt --system

    - name: Run ruff
      run: |
        ruff check .

    - name: Run mypy
      run: |
        mypy src

    - name: Run tests
      run: |
        nox -t non-latest unit real-world

    - name: Build doc
      run: |
        uv pip install -r requirements_doc.txt --system
        sphinx-build -M html docs docs-build
